  <!-- This is a Semantic HTML Change -->
    <!--  <header> Specifies a header for a document or section-->
    <!-- This is an A11y Change            <header role> defines introduction fo the page-->
      <header role=”banner”>
        <div class="menu">
            <ul>
                <!-- skip to content This is an A11y Change -->
                <!-- <li><a class="skip-link" href='#main'>Skip to content</a></li> -->
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
                <li><a [routerLink]="['/login']">Login</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>

            </ul>
        </div>
    </header>
